CompileFlags:
    Add:
        - -std=c++23
        - -nostdinc++
        - -I/home/linuxbrew/.linuxbrew/opt/llvm/include/c++/v1
        - -I/home/linuxbrew/.linuxbrew/include
        - -DDEBUG

Diagnostics:
    ClangTidy:
        Add:
            - bugprone*
            - modernize*
            - readability*

        Remove:
            - modernize-use-trailing-return-type

    UnusedIncludes: Strict
