# Ignore everything by default.
*

# But don't ignore these files...
!.gitignore
!.gitmodules

# LSP files.
!.clangd

# Build files.
!Makefile

# Source files.
!main.cpp

!block.h

!freelist.h
!freelist.cpp
