# Ignore everything by default.
*

# But don't ignore these files...
!.gitignore
!.gitmodules

!README.md

# Tools.
!.clangd
!.editorconfig

# Build files.
!Makefile

# Source files.
!main.cpp

!block.h
!block.cpp

!freelist.h
!freelist.cpp

!hibiscus.h
!hibiscus.cpp

!slab.h
!slab.cpp
